html {
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;

}
body{
    background: #F5f5f5;
    color: #1A1A1A;

}

/* Header starts */

header {
    padding-top: 90px;
}


.container{
    padding: 10px 10%;
    background-color: #f5f5f5;

}

nav{
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    background-color: #f5f5f5;
    padding: 10px 5%;

    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    z-index: 1000;
    

}

.logo{
    width: 78px;
    /* border-radius: 50%; */
    
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;

}

nav ul li a{
    color: #1f3c88;
    text-decoration: none;
    font-size: 18px;
    position: relative;

}


nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #1f3c88;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;

}
nav ul li a:hover::after{
    width: 100px;
}

.intro{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 80px;
    min-height: 80vh;

}

.intro-text{
    width: 55%;

}
.intro-text h1{
    font-size: 42px;
    margin-bottom: 12px;
    color: #1A1A1A;
}
.intro-text h2{
    color: #1f3c88;
}

.intro-text p{
    font-size: 16px;
    line-height: 1.6;
    color: #1A1A1A;

}

.intro-image{
    width: 70%;
    text-align: right;

}
.intro-image img{
    width: 60%;
    border-radius: 50%;
    
}
.intro-image img{
    box-shadow: 0 8px 20px #1f3c88;

}
img {
    max-width: 100%;
    height: auto;
}
.btn {
  display: inline-block;
  background-color: #1f3c88;
  color: #ffffff;
  padding: 10px 16px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 13px;
  margin-right: 10px;
}

.btn.viewprojects{
  background-color: #1f3c88;
}


/* header ends here */

/* Main starts here */
.learning{
  padding: 60px 80px;
  text-align: center;
  background: #1f3c88;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
 
 
 
}


.learning-about h1{
  font-size: 28px;
  margin-bottom: 30px;
  color: #ffffff;
}

.learning-topics{
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  
}

.learning-topics h2{
  background: #ffffff;
  padding: 15px 25px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  font-size: 15px;
  color: #1A1A1A;
}

.about{
   margin-bottom: 10px;
   padding: 60px 80px;
   background: #F5f5f5;
   box-shadow: 0 4px 15px rgba(0,0,0,0.15) ;
  
}

.aboutme{
    text-align: center;
}

.aboutme h1{
    color: #1f3c88;
   margin: 2px 2px;
}

.aboutme-text{
    margin: 20px 2px;
    line-height: 1.7;   
    text-align: center;
    font-size: 16px;   

}
.readmore{
    text-align: center;
}
.btn {
  display: inline-block;
  background-color: #1f3c88;
  color: #ffffff;
  padding: 10px 16px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 13px;
  margin-right: 10px;
}

.btn.viewprojects{
  background-color: #1f3c88;
}

.skills-section {
  display: flex;
  min-height: 400px;
}


.skills-left {
  width: 40%;
  background-color: #1f3c88;
  color: white;
  padding: 40px;
}

.skills-left h2 {
  margin-bottom: 20px;
}

.skill-box {
  background: rgba(255, 255, 255, 0.2);
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 8px;
  text-align: center;
}


.skills-right {
  width: 60%;
  padding: 40px;
  background-color: #f5f5f5;
}

.skills-right h3 {
  margin-bottom: 25px;
  color: #1f3c88;
}

.icons-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.icon-box {
  background: white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.1);
  transition: transform 0.3s;
}

.icon-box:hover {
  transform: translateY(-5px);
}

.icon-box i {
  font-size: 40px;
  color: #1f3c88;
  margin-bottom: 10px;
}

/* Mobile responsive for skill section*/
@media (max-width: 768px) {
  .skills-section {
    flex-direction: column;
  }

  .skills-left,
  .skills-right {
    width: 100%;
  }

  .icons-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile responsive upto about me section */
@media (max-width: 768px) {
    .intro {
        flex-direction: column;
        text-align: center;
        padding: 40px 20px;
    }

    .intro-text {
        width: 100%;
    }

    .intro-image {
        width: 100%;
        margin-top: 30px;
        text-align: center;
    }

    .intro-image img {
        width: 220px;
    }
}

@media (max-width: 768px) {
  nav ul li {
    margin: 0 8px;
  }

  nav ul li a {
    font-size: 14px;
  }
}

