html {
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;

}
body{
    background: #F5f5f5;
    color: #1A1A1A;

}

/* Header starts */

header {
    padding-top: 90px;
}


.container{
    padding: 10px 10%;
    background-color: #f5f5f5;

}

nav{
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    background-color: #f5f5f5;
    padding: 10px 5%;

    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    z-index: 1000;
    

}

.logo{
    width: 78px;
    /* border-radius: 50%; */
    
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;

}

nav ul li a{
    color: #1f3c88;
    text-decoration: none;
    font-size: 18px;
    position: relative;

}


nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #1f3c88;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;

}
nav ul li a:hover::after{
    width: 100px;
}

.intro{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 80px;
    min-height: 80vh;

}

.intro-text{
    width: 55%;

}
.intro-text h1{
    font-size: 42px;
    margin-bottom: 12px;
    color: #1A1A1A;
}
.intro-text h2{
    color: #1f3c88;
}

.intro-text p{
    font-size: 16px;
    line-height: 1.6;
    color: #1A1A1A;

}

.intro-image{
    width: 70%;
    text-align: right;

}
.intro-image img{
    width: 60%;
    border-radius: 50%;
    
}
.intro-image img{
    box-shadow: 0 8px 20px #1f3c88;

}
img {
    max-width: 100%;
    height: auto;
}
.btn {
  display: inline-block;
  background-color: #1f3c88;
  color: #ffffff;
  padding: 10px 16px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 13px;
  margin-right: 10px;
}

.btn.viewprojects{
  background-color: #1f3c88;
}


/* header ends here */

/* Main starts here */
.learning{
  padding: 60px 80px;
  text-align: center;
  background: #1f3c88;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
 
 
 
}


.learning-about h1{
  font-size: 28px;
  margin-bottom: 30px;
  color: #ffffff;
}

.learning-topics{
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  
}

.learning-topics h2{
  background: #ffffff;
  padding: 15px 25px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  font-size: 15px;
  color: #1A1A1A;
}
/* -------------------------  ABOUT SECTION STARTS------------------------------ */
.about{
   margin-bottom: 10px;
   padding: 60px 80px;
   background: #F5f5f5;
   box-shadow: 0 4px 15px rgba(0,0,0,0.15) ;
  
}

.aboutme{
    text-align: center;
}

.aboutme h1{
  color: #1f3c88;
  margin: 2px 2px;
  font-weight: 700;
}

.aboutme-text{
    margin: 20px 2px;
    line-height: 1.7;   
    text-align: center;
    font-size: 16px;   
}

.readmore{
    text-align: center;
}
.btn {
  display: inline-block;
  background-color: #1f3c88;
  color: #ffffff;
  padding: 10px 16px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 13px;
  margin-right: 10px;
}
/* ----------------------------ABOUT SECTION ENDS--------------------------------------- */

/* ----------------------------Skills section starts--------------------------------- */
.skills-section {
  min-height: 400px;

}

.skills-section h1{
  margin-top: 35px;
  margin-bottom: 20px;
  color: #1f3c88;
  text-align: center;
  font-weight: 700;

}

.skills {
  width: 60%;
  padding: 40px;
  background-color: #1f3c88;
  margin: 0 auto;   
  border-radius: 12px;
}

.icons-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  align-items: center;
}

.icon-box {
  background: white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.1);
  transition: transform 0.3s;
  align-items: center;
}

.icon-box:hover {
  transform: translateY(-5px);
}

.icon-box i {
  font-size: 40px;
  color: #1f3c88;
  margin-bottom: 10px;
}
/* Mobile responsive for skill section*/
@media (max-width: 768px) {

  .skills {
    width: 90%;
    padding: 25px;
  }

  .icons-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* ------------------------------------skills ection ends------------------------- */

/* ----------------------------Project section starts--------------------------------- */
.projects-section {
    padding: 60px 20px;
    background-color: #f8f8f8;
    text-align: center;
}

.projects-section h1{
  color: #1f3c88;
  font-weight: 700;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}

.project-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    width: 300px;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card img {
    width: 100%;
    border-radius: 10px;
}

.project-card h3 {
    margin: 15px 0 10px;
}

.project-card p {
    font-size: 14px;
    color: #555;
}

.project-card a {
    display: inline-block;
    margin: 5px 10px 0 0;
    padding: 8px 15px;
    background-color: #1f3c88;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
}

.project-card a:hover {
    background-color: #1f3c88;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}
/* -------------------------------project section ends--------------------------------------- */


/* ---------------------------------- Contact Section ------------------------------------ */
.contact-section {
  padding: 80px 10%;
  text-align: center;

}

.contact-section h1 {
  font-size: 32px;
  font-weight: 700;
  color: #1f3c88;
  margin-bottom: 40px;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}

.contact-info {
  flex: 1;
  text-align: left;
  line-height: 50px;
}

.contact-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form input{
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.contact-form textarea {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  
}

.contact-form button {
  background: #1f3c88;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

/* -----------------------------Footer--------------------------------- */
footer {
  text-align: center;
  padding: 20px;
  background: #1f3c88;
  color: white;
  margin-top: 50px;
}



/* ------------------Mobile responsive upto about me section starting------------------------*/
@media (max-width: 768px) {
    .intro {
        flex-direction: column;
        text-align: center;
        padding: 40px 20px;
    }

    .intro-text {
        width: 100%;
    }

    .intro-image {
        width: 100%;
        margin-top: 30px;
        text-align: center;
    }

    .intro-image img {
        width: 220px;
    }
}

@media (max-width: 768px) {
  nav ul li {
    margin: 0 8px;
  }

  nav ul li a {
    font-size: 14px;
  }
}
/* -----------------------------------------mobile responsive upto about section ends here-------------------------- */

